node_modules
.env
public/uploads
pnpm-lock.yaml 
yark.lock
npm.lock
node_modules
.env 
schema.gql
build
yarn-error.log
.log
public
log
yarn.lock
package-lock.json
yarn-error.log
log
types/dmmf.json
types/prisma-types.ts
src/pg_tileserv
extra
src/seed/projectData.json
src/pg_tileserv_mac
src/pg_tileserv_linux/config/pg_tileserv.toml