<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>शर्त स्वीकार्य</title>
    <style>
      .textContent {
        padding-left: 100px;
        padding-right: 80px;
        margin-top: 5rem;
      }
    </style>
  </head>
  <body>
    <div class="textContent">
      <div style="text-align: justify">
        माथि उल्लिखित विवरणहरू सही साँचो छन् र कर्जा प्रवाहसम्बन्धी शर्त
        स्वीकार्य छ भनी प्रस्ताव पेश गर्नेको
      </div>

      <div style="margin-top: 5rem">
        <div>नाम : {{proposerName}}</div>
        <div>हस्ताक्षर :</div>
        <div>मिति : {{proposedDate}}</div>
        <div>मोबाइल नं. : {{phoneNumber}}</div>
        <div>इमेल : {{email}}</div>
        <div>परियोजनाको छाप :</div>
      </div>
    </div>
  </body>
</html>
